.vasos{
	background-color: rgba(91, 213, 200, 1.0);
}

.article-1{
	width: 100%;
	background-image: linear-gradient(rgba(170,120,250),black);
}

.subtitle-1{
	font-size: 2.8em;
	padding-bottom: 2em;
	padding-top: 0.5em;
}

@media screen and (max-width: 400px){

    .header{
    	min-width: 55.5em;
    }

	.article-1{
	 	min-width: 55.5em;
	 	margin-left: 0;    
	}
}